body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.jumbotron{
  background:contain;
}


/* Navbar container */
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 1280px;
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  color:  #ffffff;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 14px 16px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #ffffff;
  background-color:#669900;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}